<form class="{{ cssClass }} {{ actor.type }} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{ actor.name }}" placeholder="Name" />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Features Tab --}}
    <div class="abilities flexcol">
      {{!-- Attributes --}}
      {{#each system.attributes as |attribute key|}}
      <div class="ability flexrow flex-group-center">
        <label
          for="system.attributes.{{ key }}.value"
          class="resource-label rollable flexlarge align-left"
          >{{localize (lookup @root.config.attributes key)}}</label
        >
        <input
          type="text"
          name="system.attributes.{{ key }}.value"
          value="{{ attribute.value }}"
          data-dtype="Number"
        />
      </div>
      {{/each}}

      <div>
        <label for="system.charismaPoolSelection.selected">Apply Charisma to which pool: </label>
        <select name="system.charismaPoolSelection.selected">
          {{selectOptions system.charismaPoolSelection.choices selected=system.charismaPoolSelection.selected localize=true}}
        </select>
      </div>

      <p></p>

      {{!-- Secondary Stats --}}
      {{#each system.pools as |value key|}}
      <div class="ability flexrow flex-group-center">
        <label
          for="system.pool.{{ key }}"
          class="resource-label rollable flexlarge align-left"
          data-roll="{{ value }}d6cs>=4"
          data-label="{{localize (lookup @root.config.pools key)}}"
        >
          {{localize (lookup @root.config.pools key)}}</label
        >
        <input type="text" name="system.pool.{{ key }}" value="{{ value }}" data-dtype="Number" />
      </div>
      {{/each}}

      <p></p>

      <div class="ability flexrow flex-group-center">
        <label
          for="system.physicalCondition"
          class="resource-label flexlarge align-left"
          >{{localize 'SINLESS.ActorData.PhysicalCondition'}}</label
        >
        <div name="system.physicalCondition">{{ system.physicalCondition }}</div>
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/sinless-foundry-system/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/sinless-foundry-system/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/sinless-foundry-system/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </section>
</form>
