<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.strength.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Strength'}}</label>
        <input type="text" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" data-dtype="Number"/>
      </div>
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.body.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Body'}}</label>
        <input type="text" name="system.attributes.body.value" value="{{system.attributes.body.value}}" data-dtype="Number"/>
      </div>
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.reaction.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Reaction'}}</label>
        <input type="text" name="system.attributes.reaction.value" value="{{system.attributes.reaction.value}}" data-dtype="Number"/>
      </div>
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.intelligence.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Intelligence'}}</label>
        <input type="text" name="system.attributes.intelligence.value" value="{{system.attributes.intelligence.value}}" data-dtype="Number"/>
      </div>
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.willpower.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Willpower'}}</label>
        <input type="text" name="system.attributes.willpower.value" value="{{system.attributes.willpower.value}}" data-dtype="Number"/>
      </div>
      <div class="ability flexrow flex-group-center">
        <label for="system.attributes.charisma.value" class="resource-label flexlarge align-left">{{localize 'SINLESS.Attributes.Charisma'}}</label>
        <input type="text" name="system.attributes.charisma.value" value="{{system.attributes.charisma.value}}" data-dtype="Number"/>
      </div>
    </div>
        
  </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/sinless-foundry-system/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/sinless-foundry-system/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/sinless-foundry-system/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
